/* Figures */
.reveal section figure img {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.reveal section figure figcaption {
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 75%;
}

//code caption
.reveal div.sourceCode::after {
    content: "" attr(data-caption) "";
    display: block;
    margin-top: 0px;
    padding-top: 0px;
    font-size: 75%;
}

.reveal section img {
    margin: 15px 0px;
    // background: rgba(255, 255, 255, 0.12);
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    background: none;
    box-shadow: none;
}

.reveal section img.plain {
    border: 0;
    box-shadow: none;
}

.reveal a img {
    transition: all .15s linear;
}

.reveal a:hover img {
    background: rgba(255, 255, 255, 0.2);
    border-color: $linkColor;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/* Front slide */
.reveal h1.title {
    color: $headingColor;
}

.reveal p {
    margin: 0px 0;
    line-height: 1.3;
}

.reveal p.author {
    float: center;
    text-transform: capitalize;
    font-variant-caps: small-caps;
    line-height: 1.3;
}

.reveal p.institute {
    float: center;
    line-height: 1.3;
}

.reveal p.date {
    float: center;
    line-height: 1.3;
}

.reveal div.logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}

.reveal img.logo {
    background: none;
    box-shadow: none;
    margin: 0 10px 0 0;
    top: 160px;
    position: relative;
}

.reveal section {
    text-align: left;
}

/* Headers */

.reveal h1 {
    border-bottom: 0px solid $borderColor;
    border-top: 0px solid $borderColor;
    margin: 300px 0px 10px 0px;
}

.reveal h2 {
    border-bottom: 4px solid $borderColor;
}

/* Blocks for Theorem/Definition - Proposition, etc. */
.reveal .block {
    display: block;
    font-style: normal;
    border-left-style: solid;
    border-left-color: $borderColor;
    padding-left: 5px;
    border-left-width: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reveal .block[name]:before {
    content: "" attr(name)"";
    display: inline-block;
    font-weight: bold;
    color: $headingColor;
    font-style: normal;
}

/* For cite bottom of slides - need 100% height on slide */
.reveal .slide {
    height: 100% !important;
}

.cite {
    position: absolute;
    bottom: 0;
    left: 15px;
    width: 100%;
    text-wrap: auto;
    margin: 15px;
    font-size: 50%;
    z-index: 2;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}


.box {
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
    position: relative;
    margin: 10px;
    width: auto;
    display: block;
    font-size: 80%;
    border: 4px solid rgba(0, 0, 0, 0);
    /*keep alignment with lead-author*/
}

.award:before {
    position: absolute;
    left: 4px;
    content: "🏆";
}

.lead-author {
    border: 4px solid black;
}

.lead-author:after {
    position: absolute;
    right: 4px;
    content: "1️⃣";
}

.conference {
    background: #006cbf;
}

.journal {
    background: #1c912b;
}

.technical-report {
    background: #d80a78;
}

.preprint {
    background: #6b6b6b;
}

.chapter {
    background: #d80a78;
}

.thesis {
    background: #8a58ff;
}

.workshop {
    background: #07cce7;
}

.talk {
    background: #ff8400;
}

@media print {
    .reveal .slide-menu-button {
        display: none !important;
    }
}